<head>
  
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-papNM3aA+P0pS9FqN2V4mL1+F6UyU9PbPAEmB6jQ6P+uDgQuT77IxDiZgVJAF4Vkao4Z1rgR98uU8yI7/MmM3g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>


<header class="bg-amber-100 shadow-md p-6 flex justify-between items-center">
    <div class="flex gap-6">
      <a
        href="/host/add-home"
        class="inline-block bg-red-500 text-white font-medium px-6 py-3 rounded-lg shadow hover:bg-red-600 transition"
      >
        Add Home
      </a>

      <a
        href="/bookings"
        class="inline-block bg-red-500 text-white font-medium px-6 py-3 rounded-lg shadow hover:bg-red-600 transition"
      >
        Bookings
      </a>


      <a
        href="/"
        class="<%= currentPage === 'index' ? 'bg-red-400' : 'hover:bg-red-400' %> inline-block bg-red-500 text-white font-medium px-6 py-3 rounded-lg shadow hover:bg-red-600 transition"
      >
        Index
      </a>

      
      <a
        href="/homes"
        class="<%= currentPage === 'Home' ? 'bg-red-400' : 'hover:bg-red-400' %> inline-block bg-red-500 text-white font-medium px-6 py-3 rounded-lg shadow hover:bg-red-600 transition"
      >
        Go to Home
      </a>

       <a href="/favorites" class="text-red-500 hover:text-red-600 text-xl">
      <i class="fa-solid fa-heart">fav</i>
    </a>
    </div>
  </header> 