<%- include("../partials/head") %>
  
  <body class="bg-gray-100 ">
    <%- include("../partials/nav") %>
   <main class="  mx-auto text-center  justify-center min-h-screen">
    
     
      <h1 class="text-4xl mt-2 font-semibold text-red-500">My Bookings</h1>
    
     <br>
      <p class="text-bg-danger">Your Bookings will appear here!</p>
    
   </main>
    

  </body>
</html>
