<%-  include("../partials/head") %>

  <body class="bg-gray-50 text-gray-900 font-sans">

    <!-- Header -->
    <%- include("../partials/nav") %>

    <!-- Main Content -->
    <main class="max-w-7xl mx-auto mt-10 p-4">
      <h1>Your Favorites</h1>
    </main>

  </body>
</html>



